In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
# Setup splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [4]:
url = 'https://www.billboard.com/charts/decade-end/hot-100'
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

title = soup.find_all('div', class_='ye-chart-item__title')
artist = soup.find_all('div', class_='ye-chart-item__artist')
date = soup.find_all('span', class_='decade-end-chart-item__peak-info-date')

In [6]:
title_list = []
count = 0

for i in title:
    new_list = []
    new_list.append(count)
    new_list.append(i.text.replace("\n",""))
    title_list.append(new_list)
    count += 1
title_df = pd.DataFrame(title_list, columns = ["key","Title"])
title_df.head()

   key              Title
0    0       Uptown Funk!
1    1  Party Rock Anthem
2    2       Shape Of You
3    3             Closer
4    4     Girls Like You

In [7]:
artist_list = []
count = 0

for i in artist:
    new_list = []
    new_list.append(count)
    new_list.append(i.text.replace("\n",""))
    artist_list.append(new_list)
    count += 1
    
artist_df = pd.DataFrame(artist_list, columns = ["key","Artist"])
artist_df.head()

   key                                     Artist
0    0           Mark Ronson Featuring Bruno Mars
1    1  LMFAO Featuring Lauren Bennett & GoonRock
2    2                                 Ed Sheeran
3    3          The Chainsmokers Featuring Halsey
4    4                 Maroon 5 Featuring Cardi B

In [8]:
date_list = []
count = 0

for i in date:
    new_list = []
    new_list.append(count)
    new_list.append(i.text.replace("\n",""))
    date_list.append(new_list)
    count += 1
date_df = pd.DataFrame(date_list, columns = ["key","Date"])
date_df = date_df['Date'].str[:4].reset_index()
date_df.columns=["key", "Year"]
date_df.head()

   key  Year
0    0  2015
1    1  2011
2    2  2017
3    3  2016
4    4  2018

In [9]:
billboard_df = pd.merge(title_df, artist_df, on="key")
billboard_total_df = pd.merge(billboard_df, date_df, on="key")
billboard_total_df.head()

   key              Title                                     Artist  Year
0    0       Uptown Funk!           Mark Ronson Featuring Bruno Mars  2015
1    1  Party Rock Anthem  LMFAO Featuring Lauren Bennett & GoonRock  2011
2    2       Shape Of You                                 Ed Sheeran  2017
3    3             Closer          The Chainsmokers Featuring Halsey  2016
4    4     Girls Like You                 Maroon 5 Featuring Cardi B  2018

In [10]:
del billboard_total_df["key"]
billboard_total_df["Source"] = "Billboard Top 100"
billboard_total_df.head()

,Title,Artist,Year,Source
0,Uptown Funk!,Mark Ronson Featuring Bruno Mars,2015,Billboard Top 100
1,Party Rock Anthem,LMFAO Featuring Lauren Bennett & GoonRock,2011,Billboard Top 100
2,Shape Of You,Ed Sheeran,2017,Billboard Top 100
3,Closer,The Chainsmokers Featuring Halsey,2016,Billboard Top 100
4,Girls Like You,Maroon 5 Featuring Cardi B,2018,Billboard Top 100

In [11]:
browser.quit()